<head>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/bootstrap.js"></script>


</head>

<body class="noscroll"> 
<!-- disables scrolling -->
	<div class="backgroundimage"> 
	<!-- includes background image resizable -->
		<div class="whiteopac"><!-- inludes white opacitated overlay -->
			<center>
			<div class="title">
				<img src="indeximages/icon.png" class="logo">
					<div id="namediv">
						<p id="nameheading">POSTABLES</p>
					</div>
					
			</div>
			</center>
		
		   	 <div class="signuppanel">
		    		<button  class="btn btn-primary" type="button" data-toggle="collapse" data-target="#login" aria-expanded="false" aria-controls="login">
					  Login
					</button>
						<div class="collapse" id="login">
					  <div class="well">
					   
							...
					  </div>
					</div>

					<a href="http://google.com" class="btn btn-primary">Browse as Guest</a>
								
					

		  	</div> 
    	</div>
    </div>
</body>	