
<head>
 

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>



</head>

     
<body>

<div id="grid">
<center><div id="grid2">
          <% for @p in @posts %>  
                <img src="<%= @p.photo %>" id="postpanel"> 
               
               
             <% end %>

</div></center>
</div>

  
</body>