<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="row">
     <div class="col-xs-9">
        <% for @p in @posts %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @p.content %></p>
            <p><%= current_user.followers.count %>
            </div>
        </div>
         <% end %>
      </div>
    <div class="col-xs-3">
       <div class="panel panel-default">
          <div class="panel-body"> 
                <p>about</p>
            </div>
        </div>
    
    
    </div>



