<head>

<link rel="stylesheet" type="text/css" href="css/style.css">


</head>

<body class="noscroll">
	<div class="background">
	<h3>HANDSHAKE</h3>
	    <div>
	    	
	    </div> <!-- end titleimage --> 
    </div>
</body>	