style.css

div.titleimage {

    height:200px;
    width:100%;
    align-items: center;
    background-color: black;
  
}

#test {
	background-color: #00FFFF;
}

img.titlediv {
    height:100px;
    width:100%;
    
}

div.background {
    background-color: rgba(255,255,255,0.4);
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 150px;
}

.noscroll { position: fixed; overflow-y:scroll;
height: 100%;
width: 100%;
 background-image: url(/indeximages/scenictwo.jpg);
 background-size: cover;
 z-index: -2;
}

